html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/15.png);
    
}

div {
    background-color: rgba(221, 216, 216, 0.52);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40em;
    height: 20em;
    padding: 10px;
    border-radius: 25px;
    
    
    
        
        
}

