html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}
p::first-line {
    background-color: rgb(255,165,0)  
}
p::second-line{
    color: aliceblue
}
