html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5DEB3
}
.box{
    background-color: white;
    box-shadow: 0 4px 15px -2px black;
    width:60%;
    padding:20px;
    margin-left: 20%;
    text-align: center;
    margin-top: 20%;
        
    
}
p{
    font-size: 25px
}