html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}
.ex1{
    letter-spacing: -3px
    
    
}
.ex2{
    letter-spacing: 3px
    
}