html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

li:nth-child(even){
list-style-image: url(../images/1490106756_onebit_34.png);
    
}
li:nth-child(odd){
    list-style-image: url(../images/1490106636_cross.png)
    
}