html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

li:last-child{
    ;
list-style-image: url(../images/1490104355_Tick_Mark.png);
    font-size: -2px
    
}
li:first-child{
    

}