html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

span{
    background-color: rgb(127,255,0);
}

span:last-child {
    background-color: rgb(255,127,80);
}